whole_mouse_brain/macosko/from_google_drive/Macosko_Mouse_Atlas_Single_Nuclei.Use_Backed.h5ad
whole_mouse_brain/macosko/from_google_drive/Single_Nuc_Cluster_Avg_Expression.csv.gz
whole_mouse_brain/processed/barseq/barseq_210630.rds
whole_mouse_brain/processed/macosko/merged_Zeng_AWS.Oct2023.pretrained_Macosko.csv.gz
whole_mouse_brain/processed/macosko/subsets/Macosko_Mouse_Atlas_Single_Nuclei.Use_Backed_3309_markers_only.cpm.h5ad
whole_mouse_brain/processed/macosko/subsets/Macosko_Mouse_Atlas_Single_Nuclei.Use_Backed.barseq_109.h5ad
whole_mouse_brain/processed/macosko/subsets/Macosko_Mouse_Atlas_Single_Nuclei.Use_Backed.barseq_128.h5ad
whole_mouse_brain/processed/macosko/subsets/Macosko_Mouse_Atlas_Single_Nuclei.Use_Backed.cpm.part_0.h5ad
whole_mouse_brain/processed/macosko/subsets/Macosko_Mouse_Atlas_Single_Nuclei.Use_Backed.cpm.part_10.h5ad
whole_mouse_brain/processed/macosko/subsets/Macosko_Mouse_Atlas_Single_Nuclei.Use_Backed.cpm.part_11.h5ad
whole_mouse_brain/processed/macosko/subsets/Macosko_Mouse_Atlas_Single_Nuclei.Use_Backed.cpm.part_12.h5ad
whole_mouse_brain/processed/macosko/subsets/Macosko_Mouse_Atlas_Single_Nuclei.Use_Backed.cpm.part_13.h5ad
whole_mouse_brain/processed/macosko/subsets/Macosko_Mouse_Atlas_Single_Nuclei.Use_Backed.cpm.part_14.h5ad
whole_mouse_brain/processed/macosko/subsets/Macosko_Mouse_Atlas_Single_Nuclei.Use_Backed.cpm.part_15.h5ad
whole_mouse_brain/processed/macosko/subsets/Macosko_Mouse_Atlas_Single_Nuclei.Use_Backed.cpm.part_16.h5ad
whole_mouse_brain/processed/macosko/subsets/Macosko_Mouse_Atlas_Single_Nuclei.Use_Backed.cpm.part_17.h5ad
whole_mouse_brain/processed/macosko/subsets/Macosko_Mouse_Atlas_Single_Nuclei.Use_Backed.cpm.part_18.h5ad
whole_mouse_brain/processed/macosko/subsets/Macosko_Mouse_Atlas_Single_Nuclei.Use_Backed.cpm.part_19.h5ad
whole_mouse_brain/processed/macosko/subsets/Macosko_Mouse_Atlas_Single_Nuclei.Use_Backed.cpm.part_1.h5ad
whole_mouse_brain/processed/macosko/subsets/Macosko_Mouse_Atlas_Single_Nuclei.Use_Backed.cpm.part_2.h5ad
whole_mouse_brain/processed/macosko/subsets/Macosko_Mouse_Atlas_Single_Nuclei.Use_Backed.cpm.part_3.h5ad
whole_mouse_brain/processed/macosko/subsets/Macosko_Mouse_Atlas_Single_Nuclei.Use_Backed.cpm.part_4.h5ad
whole_mouse_brain/processed/macosko/subsets/Macosko_Mouse_Atlas_Single_Nuclei.Use_Backed.cpm.part_5.h5ad
whole_mouse_brain/processed/macosko/subsets/Macosko_Mouse_Atlas_Single_Nuclei.Use_Backed.cpm.part_6.h5ad
whole_mouse_brain/processed/macosko/subsets/Macosko_Mouse_Atlas_Single_Nuclei.Use_Backed.cpm.part_7.h5ad
whole_mouse_brain/processed/macosko/subsets/Macosko_Mouse_Atlas_Single_Nuclei.Use_Backed.cpm.part_8.h5ad
whole_mouse_brain/processed/macosko/subsets/Macosko_Mouse_Atlas_Single_Nuclei.Use_Backed.cpm.part_9.h5ad
whole_mouse_brain/processed/macosko/subsets/Macosko_Mouse_Atlas_Single_Nuclei.Use_Backed.log2_cpm.mean_centroids.csv.gz
whole_mouse_brain/processed/merged_Zeng_AWS.Oct2023.h5ad
whole_mouse_brain/processed/zeng/merged_Zeng_AWS.Oct2023.pretrained_Zeng.csv.gz
whole_mouse_brain/processed/zeng/subsets/AIT21.0.merged.with_multiome_3820_markers_only.cpm.h5ad
whole_mouse_brain/processed/zeng/subsets/AIT21.0.merged.with_multiome.barseq_109.h5ad
whole_mouse_brain/processed/zeng/subsets/AIT21.0.merged.with_multiome.cpm.part_0.h5ad
whole_mouse_brain/processed/zeng/subsets/AIT21.0.merged.with_multiome.cpm.part_10.h5ad
whole_mouse_brain/processed/zeng/subsets/AIT21.0.merged.with_multiome.cpm.part_11.h5ad
whole_mouse_brain/processed/zeng/subsets/AIT21.0.merged.with_multiome.cpm.part_12.h5ad
whole_mouse_brain/processed/zeng/subsets/AIT21.0.merged.with_multiome.cpm.part_13.h5ad
whole_mouse_brain/processed/zeng/subsets/AIT21.0.merged.with_multiome.cpm.part_14.h5ad
whole_mouse_brain/processed/zeng/subsets/AIT21.0.merged.with_multiome.cpm.part_15.h5ad
whole_mouse_brain/processed/zeng/subsets/AIT21.0.merged.with_multiome.cpm.part_16.h5ad
whole_mouse_brain/processed/zeng/subsets/AIT21.0.merged.with_multiome.cpm.part_17.h5ad
whole_mouse_brain/processed/zeng/subsets/AIT21.0.merged.with_multiome.cpm.part_18.h5ad
whole_mouse_brain/processed/zeng/subsets/AIT21.0.merged.with_multiome.cpm.part_19.h5ad
whole_mouse_brain/processed/zeng/subsets/AIT21.0.merged.with_multiome.cpm.part_1.h5ad
whole_mouse_brain/processed/zeng/subsets/AIT21.0.merged.with_multiome.cpm.part_20.h5ad
whole_mouse_brain/processed/zeng/subsets/AIT21.0.merged.with_multiome.cpm.part_21.h5ad
whole_mouse_brain/processed/zeng/subsets/AIT21.0.merged.with_multiome.cpm.part_22.h5ad
whole_mouse_brain/processed/zeng/subsets/AIT21.0.merged.with_multiome.cpm.part_23.h5ad
whole_mouse_brain/processed/zeng/subsets/AIT21.0.merged.with_multiome.cpm.part_24.h5ad
whole_mouse_brain/processed/zeng/subsets/AIT21.0.merged.with_multiome.cpm.part_25.h5ad
whole_mouse_brain/processed/zeng/subsets/AIT21.0.merged.with_multiome.cpm.part_26.h5ad
whole_mouse_brain/processed/zeng/subsets/AIT21.0.merged.with_multiome.cpm.part_27.h5ad
whole_mouse_brain/processed/zeng/subsets/AIT21.0.merged.with_multiome.cpm.part_28.h5ad
whole_mouse_brain/processed/zeng/subsets/AIT21.0.merged.with_multiome.cpm.part_29.h5ad
whole_mouse_brain/processed/zeng/subsets/AIT21.0.merged.with_multiome.cpm.part_2.h5ad
whole_mouse_brain/processed/zeng/subsets/AIT21.0.merged.with_multiome.cpm.part_30.h5ad
whole_mouse_brain/processed/zeng/subsets/AIT21.0.merged.with_multiome.cpm.part_31.h5ad
whole_mouse_brain/processed/zeng/subsets/AIT21.0.merged.with_multiome.cpm.part_32.h5ad
whole_mouse_brain/processed/zeng/subsets/AIT21.0.merged.with_multiome.cpm.part_33.h5ad
whole_mouse_brain/processed/zeng/subsets/AIT21.0.merged.with_multiome.cpm.part_34.h5ad
whole_mouse_brain/processed/zeng/subsets/AIT21.0.merged.with_multiome.cpm.part_35.h5ad
whole_mouse_brain/processed/zeng/subsets/AIT21.0.merged.with_multiome.cpm.part_36.h5ad
whole_mouse_brain/processed/zeng/subsets/AIT21.0.merged.with_multiome.cpm.part_37.h5ad
whole_mouse_brain/processed/zeng/subsets/AIT21.0.merged.with_multiome.cpm.part_38.h5ad
whole_mouse_brain/processed/zeng/subsets/AIT21.0.merged.with_multiome.cpm.part_39.h5ad
whole_mouse_brain/processed/zeng/subsets/AIT21.0.merged.with_multiome.cpm.part_3.h5ad
whole_mouse_brain/processed/zeng/subsets/AIT21.0.merged.with_multiome.cpm.part_4.h5ad
whole_mouse_brain/processed/zeng/subsets/AIT21.0.merged.with_multiome.cpm.part_5.h5ad
whole_mouse_brain/processed/zeng/subsets/AIT21.0.merged.with_multiome.cpm.part_6.h5ad
whole_mouse_brain/processed/zeng/subsets/AIT21.0.merged.with_multiome.cpm.part_7.h5ad
whole_mouse_brain/processed/zeng/subsets/AIT21.0.merged.with_multiome.cpm.part_8.h5ad
whole_mouse_brain/processed/zeng/subsets/AIT21.0.merged.with_multiome.cpm.part_9.h5ad
whole_mouse_brain/processed/zeng/subsets/AIT21.0.merged.with_multiome.h5ad
whole_mouse_brain/processed/zeng/subsets/AIT21.0.merged.with_multiome.log2_cpm.mean_centroids.csv.gz
whole_mouse_brain/zeng/from_API/ccf_coordinates_MERFISH-C57BL6J-638850.csv.gz
whole_mouse_brain/zeng/MERFISH-C57BL6J-638850/20230630/C57BL6J-638850-raw.h5ad
whole_mouse_brain/zeng/MERFISH-C57BL6J-638850/20230830/cell_metadata.csv
