whole_mouse_brain/macosko/from_google_drive/Macosko_Mouse_Atlas_Single_Nuclei.Use_Backed.h5ad
whole_mouse_brain/macosko/from_google_drive/Single_Nuc_Cluster_Avg_Expression.csv.gz
whole_mouse_brain/processed/barseq/barseq_210630.rds
whole_mouse_brain/processed/macosko/merged_Zeng_AWS.Oct2023.pretrained_Macosko.csv.gz
whole_mouse_brain/processed/macosko/subsets/Macosko_Mouse_Atlas_Single_Nuclei.Use_Backed_3309_markers_only.cpm.h5ad
whole_mouse_brain/processed/macosko/subsets/Macosko_Mouse_Atlas_Single_Nuclei.Use_Backed.barseq_109.h5ad
whole_mouse_brain/processed/macosko/subsets/Macosko_Mouse_Atlas_Single_Nuclei.Use_Backed.barseq_128.h5ad
whole_mouse_brain/processed/macosko/subsets/Macosko_Mouse_Atlas_Single_Nuclei.Use_Backed.cpm.part_*
whole_mouse_brain/processed/macosko/subsets/Macosko_Mouse_Atlas_Single_Nuclei.Use_Backed.cpm.part_*
whole_mouse_brain/processed/macosko/subsets/Macosko_Mouse_Atlas_Single_Nuclei.Use_Backed.log2_cpm.mean_centroids.csv.gz
whole_mouse_brain/processed/macosko/subsets/Macosko_Mouse_Atlas_Single_Nuclei.A*
whole_mouse_brain/processed/macosko/subsets/Macosko_Mouse_Atlas_Single_Nuclei.B*
whole_mouse_brain/processed/merged_Zeng_AWS.Oct2023.h5ad
whole_mouse_brain/processed/zeng/merged_Zeng_AWS.Oct2023.pretrained_Zeng.csv.gz
whole_mouse_brain/processed/zeng/subsets/AIT21.0.merged.with_multiome_3820_markers_only.cpm.h5ad
whole_mouse_brain/processed/zeng/subsets/AIT21.0.merged.with_multiome.barseq_109.h5ad
whole_mouse_brain/processed/zeng/subsets/AIT21.0.merged.with_multiome.cpm.part_*
whole_mouse_brain/processed/zeng/subsets/AIT21.0.merged.with_multiome.h5ad
whole_mouse_brain/processed/zeng/subsets/AIT21.0.merged.with_multiome.A*
whole_mouse_brain/processed/zeng/subsets/AIT21.0.merged.with_multiome.B*
whole_mouse_brain/processed/zeng/subsets/AIT21.0.merged.with_multiome.log2_cpm.mean_centroids.csv.gz
whole_mouse_brain/zeng/from_API/ccf_coordinates_MERFISH-C57BL6J-638850.csv.gz
whole_mouse_brain/zeng/MERFISH-C57BL6J-638850/20230630/C57BL6J-638850-raw.h5ad
whole_mouse_brain/zeng/MERFISH-C57BL6J-638850/20230830/cell_metadata.csv
whole_mouse_brain/processed/split_half/*
whole_mouse_brain/processed/merged_*.h5ad

